{% extends 'base.html' %}

{% block content %}

<h1>Ro'yhatdan o'tish</h1>
<form class="container" method="POST" action="">
    {% csrf_token %}
    {% for xabar in messages %}
    <h4 class="btn bg-danger"> {{xabar}} </h4>
    {% endfor %}
  <div class="mb-3">
    <h4>Username</h4>
    <input name="username" type="text" class="form-control">
  </div>
    <div class="mb-3">
    <h4>Email</h4>
    <input name="email" type="email" class="form-control">
  </div>
  <div class="mb-3">
    <h4>Password</h4>
    <input name="password1" type="password" class="form-control" >
  </div>
     <div class="mb-3">
    <h4>Password ni takrorlang</h4>
    <input name="password2" type="password" class="form-control" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}